*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  color: #123875;
  font-family: "Lobster", handwriting;
  font-size: 60px;
}
            
h1{
  color: #996633;
  font-family: "Rock Salt", handwriting;
  font-size: 100px;
}
            
p{
  color: #261a0d;
  font-family: "Sofia", sans-serif;
  font-size: 40px;
}
            
container{
  background-color: #e6ccb3;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.btn{
  padding: 30px 30px;
  background: #ffffb3;
  border-style: 0;
  outline: none;
  cursor: pointer;
  font-size: 80px;
  font-weight: 900;
  border-radius: 50%;
  color: #800000;
}
