h3{
  color: #123875;
  font-family: "Lobster", handwriting;
  font-size: 60px;
}
            
h1{
  color: #996633;
  font-family: "Rock Salt", handwriting;
  margin-bottom: 0px;
  font-size: 100px;
}
            
p{
  color: #261a0d;
  font-family: "Sofia", sans-serif;
  font-size: 40px;
}
            
container{
  background-color: #e6ccb3;
}
